/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: url("../textures/metal-texture-lite.png") no-repeat center / 100% 100%;
    //color: #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: black;
    color: #fff;
    padding: 10px;

    nav {
        display: flex;
        justify-content: center;

        .boton-nav {
            padding: 10px;
            width: 150px;
            margin: 0;
            background-color: #bbb;
            color: black;
            text-decoration: none;
            border: 0;
            font-weight: bold;

            &:hover {
                background-color: white;
            }

            &.boton-nav-start {
                border-bottom-left-radius: 25px;
                border-top-left-radius: 25px;
            }

            &.boton-nav-end {
                border-bottom-right-radius: 25px;
                border-top-right-radius: 25px;
            }
        }
    }
}

/* Contenido principal */
.main-content {
    flex: 1;
    max-width: 800px;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
    //display: flex;
    //align-items: center;
    //flex-direction: column;
    //justify-content: center;
    .recetas-grid{
        display: grid;
        grid-template-columns: 3fr 5fr;
        gap: 5px;
        width: 100%;
    }
    section {
        background-color: #e2e2e2;
        padding: 20px;;
        border-radius: 25px;
        margin-bottom: 40px;
        border: #333 2px solid;
        &.lista-recetas{
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                li {
                    list-style: none;
                    width: 100%; // cada li ocupa todo el ancho disponible
                    display: flex;
                    justify-content: center;
                    button{
                        border-radius: 5px;
                        margin: 5px;
                        padding: 5px;
                        background: #a0a0a0;
                        border: 1px solid #000000;
                        word-wrap: break-word;
                        &:hover {
                            background: white;
                        }
                    }
                }
            }
        }
    }
}

/* --- Media queries --- */

/* Menor a 650px → una columna */
@media (max-width: 849px) {
    .main-content {
        .recetas-grid {
            grid-template-columns: 1fr; // stack
        }
        .lista-recetas {
            position: static;   // ya no fijo
            transform: none;    // quita el translate
            left: auto;
            top: auto;
        }
    }
}

/* Mayor o igual a 650px → dos columnas y lista fija */
@media (min-width: 850px) {
    .main-content {
        .recetas-grid {
            grid-template-columns: 1fr 1fr;
            height: 100%
        }
        .scrollable-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        //.lista-recetas {
            //position: fixed;
            //top: 50%;
            //left: 10px;
            //transform: translateY(-50%);
        //}
    }
}

/* Pie de página */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: black;
    font-size: 15px;
    color: #dbdbdb;
}